### 1. Discuss string slicing and provide examples.
   Slicing of string means extraction of a substring from a string.It follows the format string[start:end],
   where start is the index where slicing begins(inclusive) and end is the index where it ends(exclusive).
   
   FOR EXAMPLE:

In [2]:
s="I can do anything"
s[0:5] # 5 is exclusive[a,b]>>it will give result till b-1 index.

'I can'

In [3]:
s="I can do anything"
s[0:] # start_index:end_index>>if we not provide end index,it will be default give substring till the last index.

'I can do anything'

In [4]:
#access all the characters except the last three character>>
s="I can do anything"
s[:-3]

'I can do anyth'

In [5]:
#access only last three characters>>
s="I can do anything"
s[-3:]

'ing'

In [7]:
s="Hello"
s[0:4:2] # start:end:step>>here step access the character by leaving the character by step

'Hl'

In [8]:
# if we want to start from the end ,move to beginning and step backwards by one character>>
s="Shalini"
s[::-1]#reverse order iteration

'inilahS'

### 2. Explain the key features of lists in Python.
    The key features of lists in Python are:

1.Lists are ordered collection of items-:

In [1]:
grocery_list=["Milk","Orange","Apple","Banana"]
grocery_list

['Milk', 'Orange', 'Apple', 'Banana']

2.Lists can store any data type-: It can store heterogenous data.

In [3]:
l=[1,"Shanu",3.4,'Pwskills',True]
l

[1, 'Shanu', 3.4, 'Pwskills', True]

3.Lists are Mutable-: Once a list has been created,elements can be added,deleted and shifted.

In [4]:
#Adding element to the list>>
grocery_list=["Milk","Orange","Apple","Banana"]
grocery_list.append("Mango")
grocery_list

['Milk', 'Orange', 'Apple', 'Banana', 'Mango']

In [7]:
#Remove element from the list>>
grocery_list=["Milk","Orange","Apple","Banana","Mango"]
grocery_list.remove("Orange")
grocery_list

['Milk', 'Apple', 'Banana', 'Mango']

In [11]:
#Insert object before index>>
grocery_list=["Milk","Orange","Apple","Banana","Mango"]
grocery_list.insert(1,"Pomygranate")
grocery_list

['Milk', 'Pomygranate', 'Orange', 'Apple', 'Banana', 'Mango']

In [13]:
#Extend >>used to append elements from another list>>
grocery_list_1=["Milk","Orange","Apple","Banana","Mango"]
grocery_list_2=["Potato","Tomato","Chilli"]
grocery_list_1.extend(grocery_list_2) # It will extend the first list
grocery_list_1

['Milk', 'Orange', 'Apple', 'Banana', 'Mango', 'Potato', 'Tomato', 'Chilli']

4.List's elements can be accessed by index-:

In [8]:
grocery_list=["Milk","Orange","Apple","Banana","Mango"]
grocery_list[0]="Guava"
grocery_list

['Guava', 'Orange', 'Apple', 'Banana', 'Mango']

In [9]:
grocery_list[1:] # from'1' index to last

['Orange', 'Apple', 'Banana', 'Mango']

In [10]:
grocery_list[-2]#negative indexing

'Banana'

5.List Comprehenshion-:Concise code

In [21]:
prices=[10,20,30,40,50]
doubled_prices=[price*2 for price in prices]
print(doubled_prices)

[20, 40, 60, 80, 100]

### 3. Describe how to access , modify , and delete elements in a list with examples.

We can access the elements in a list by indexing and slicing method.

In [24]:
#Access the elements by indexing>>
name_list=["Shanu","Shivam","Priyanshu","Yuvraj"]
name_list[2]

'Priyanshu'

In [25]:
name_list=["Shanu","Shivam","Priyanshu","Yuvraj"]
name_list[2]="Shalini"
name_list

['Shanu', 'Shivam', 'Shalini', 'Yuvraj']

In [26]:
name_list[-3]#Negative indexing

'Shivam'

In [27]:
#Access the elements by slicing>>
name_list[0:]

['Shanu', 'Shivam', 'Shalini', 'Yuvraj']

In [29]:
name_list[1:3]

['Shivam', 'Shalini']

We can modify the elements in a list by indexing,count,sort,append,remove,pop,extend,insert method etc.

In [37]:
#Count method>>count gives the number of times a specific element appears in a list>>
name_list=["Shanu","Shivam","Priyanshu","Yuvraj","Shivam"]
name_list.count("Shivam")

2

In [39]:
#Sorting>>sorted the list 
name_list=["Shanu","Shivam","Priyanshu","Yuvraj"]
sorted(name_list)

['Priyanshu', 'Shanu', 'Shivam', 'Yuvraj']

In [40]:
#Append>>append method helps to add a new item in a list
name_list=["Shanu","Shivam","Priyanshu","Yuvraj"]
name_list.append("Lucky")
name_list

['Shanu', 'Shivam', 'Priyanshu', 'Yuvraj', 'Lucky']

In [41]:
#Insert>>insert a new element before any present element
name_list=["Shanu","Shivam","Priyanshu","Yuvraj"]
name_list.insert(1,"Lucky")
name_list

['Shanu', 'Lucky', 'Shivam', 'Priyanshu', 'Yuvraj']

In [45]:
#Pop>>pop removes the last element 
name_list=["Shanu","Shivam","Priyanshu","Yuvraj"]
name_list.pop()
name_list

['Shanu', 'Shivam', 'Priyanshu']

In [46]:
#Remove>>remove the element which you want to remove from the list
name_list=["Shanu","Shivam","Priyanshu","Yuvraj"]
name_list.remove("Shivam")
name_list

['Shanu', 'Priyanshu', 'Yuvraj']

In [47]:
#Extend>>extend the first list 
name_list_1=["Shanu","Shivam","Priyanshu","Yuvraj"]
name_list_2=["Shikha","Shivangi","Uttam","Mahima"]
name_list_1.extend(name_list_2)
name_list_1

['Shanu',
 'Shivam',
 'Priyanshu',
 'Yuvraj',
 'Shikha',
 'Shivangi',
 'Uttam',
 'Mahima']

We can delete elements in a list by del or clear method.

In [48]:
name_list=["Shanu","Shivam","Priyanshu","Yuvraj"]
del name_list #Deletes the variable/list
name_list

NameError: name 'name_list' is not defined

In [49]:
name_list=["Shanu","Shivam","Priyanshu","Yuvraj"]
name_list.clear()#Clear the list's elements but variable list will not be deleted
name_list

[]

### 4. Compare and contrast tuples and lists with examples.

1.Lists are mutable collections of elements whereas Tuples are immutable collections of elements.

In [50]:
#lists are mutable>>Once created we can modify the elements.
name_list=["Shanu","Shivam","Priyanshu","Yuvraj"]
name_list[2]="Shalini"
name_list

['Shanu', 'Shivam', 'Shalini', 'Yuvraj']

In [52]:
#tuples are immutable>>Once created the items in a tuple cannot be changed.
name_tuple=("Shanu","Shivam","Priyanshu","Yuvraj")
name_tuple[2]="Shalini"
name_tuple

TypeError: 'tuple' object does not support item assignment

2.In lists we can add, remove, or modify elements within a list using indexing and slicing. Lists are versatile for storing and managing collections that might change whereas in tuples we can access elements using indexing and slicing, but we cannot modify the content. Tuples are useful for representing fixed datasets or configurations.

In [54]:
#List>>
list=["Book","Pencil","Eraser"]
list.append("Notebook")#Adding a item
list

['Book', 'Pencil', 'Eraser', 'Notebook']

In [56]:
del list[2]#Removing the third item
list

['Book', 'Pencil']

In [57]:
#Tuple>>
t=("Book","Pencil","Eraser")
t.append("Notebook")#Modify the list by adding a item >>it will show error because we cannot modify the content in tutple
t

AttributeError: 'tuple' object has no attribute 'append'

In [58]:
t=("Book","Pencil","Eraser")
t[1]#access the elements

'Pencil'

In [59]:
t.index("Book")#index of element

0

### 5. Describe the key features of sets and provide examples of their use.

The key features of sets are:

1.Sets are unordered and unique collection of elements.

2.Sets does not allow duplicate elements.
  
3.Sets are mutable.

4.Sets are useful for checking membership (if an item exists) or finding the intersection/difference between sets.

5.We can add or remove elements from a set, but we cannot access elements by index (since order doesn't matter).

6.Set operations like union (combining elements), intersection (finding common elements), and difference (finding elements in one set but not the other) are efficient.

In [60]:
#Sets are unordered and unique collection of elements.
s={1,2,1,2,2,2,"Pwskills","keshav","keshav"}
s

{1, 2, 'Pwskills', 'keshav'}

In [61]:
#Sets does not allow duplicate elements.
s={"shanu","priya","shanu","keshav","shanu"}
s

{'keshav', 'priya', 'shanu'}

In [63]:
#Sets are mutable.
s={"shanu","priya","kartik"}
s.add("shivam")
s

{'kartik', 'priya', 'shanu', 'shivam'}

In [64]:
s.pop()

'shivam'

In [73]:
s={"shanu","priya","kartik"}
s.remove("priya")
s

{'kartik', 'shanu'}

In [76]:
s={"shanu","priya","kartik"}
s.update("Shivam")#update takes iteration
s

{'S', 'a', 'h', 'i', 'kartik', 'm', 'priya', 'shanu', 'v'}

In [77]:
#Sets are useful for checking membership (if an item exists) or finding the intersection/difference between sets.
s={"shanu","priya","kartik"}
"shanu" in s

True

In [78]:
"shivam" in s

False

In [79]:
#We can add or remove elements from a set, but we cannot access elements by index (since order doesn't matter).
s={"shanu","priya","kartik"}
s[0]     # unordered >>indexing not possible

TypeError: 'set' object is not subscriptable

In [80]:
#Set operations like union (combining elements), intersection (finding common elements), and difference (finding elements in one set but not the other) are efficient.
s1={1,2,3}
s2={3,5,6}
s1|s2 #union>>combine all the elements

{1, 2, 3, 5, 6}

In [81]:
s1 & s2 #intersection>>common elements

{3}

In [82]:
s1-s2 #difference>>elements present in only first set

{1, 2}

In [83]:
s1^s2 #symmetric difference>>removes the common part

{1, 2, 5, 6}

### 6. Discuss the use cases of tuples and sets in Python programming.

Tuples are immutable collection of variables so they can't be changed after creation while sets are mutable collection of variables,so sets can be changed after creation.

In [84]:
#use case of tuples>>use tuples as a data structure where we dont want to modify the data>>
empid=(1,2,3,4,5)
empid[1]=100

TypeError: 'tuple' object does not support item assignment

 One of the analogy of tuple: Imagine a museum exhibit with artifacts in a fixed display case. These artifacts (data) are fixed in their place (immutable) and cannot be rearranged or removed, ensuring their preservation.

In [85]:
#use case of set>>converting list to set
l=[1,2,3,"shanu","shanu","shivam","shivam"]
s=set(l)
s

{1, 2, 3, 'shanu', 'shivam'}

One of the analogy of set: Imagine a set of unique keys on a key ring. The order we put them on the ring doesn't matter, and we can quickly check if a specific key (element) is present on the ring.

### 7. Describe how to add , modify ,  and delete items in a dictionary with examples.

In [86]:
#adding the new value pair to dictionary>>
dict={"name":"Shalini","email":"shanu05955@gmail.com","contact":8766386441}
dict

{'name': 'Shalini', 'email': 'shanu05955@gmail.com', 'contact': 8766386441}

In [87]:
type(dict)

dict

In [89]:
#add our address to the dictionary>>
dict["address"]="New_Delhi"
dict

{'name': 'Shalini',
 'email': 'shanu05955@gmail.com',
 'contact': 8766386441,
 'address': 'New_Delhi'}

In [90]:
#modify >>
dict["name"]="Shanu"
dict

{'name': 'Shanu',
 'email': 'shanu05955@gmail.com',
 'contact': 8766386441,
 'address': 'New_Delhi'}

In [91]:
dict={"name":"Shalini","email":"shanu05955@gmail.com","contact":8766386441,"name":"Shanu"} # always the last key value will be used>>
dict

{'name': 'Shanu', 'email': 'shanu05955@gmail.com', 'contact': 8766386441}

In [95]:
#deletion of items >>delete a key value pair>>
dict={"name":"Shalini","email":"shanu05955@gmail.com","contact":8766386441}
del dict["email"]
dict

{'name': 'Shalini', 'contact': 8766386441}

In [96]:
dict.clear()#empty dictionary
dict

{}

In [103]:
dict={"name":"Shalini","email":"shanu05955@gmail.com","contact":8766386441}
dict.pop("contact")
dict

{'name': 'Shalini', 'email': 'shanu05955@gmail.com'}

### 8. Discuss the importance of dictionary keys being immutable and provide examples.

The importance of dictionary keys being immutable to ensure that the dictionary can efficiently look up values based on
their keys.If a key was mutable,its hash value could change ,making it impossible to find the associated value in the dictionary.

In [105]:
#if the dictionary keys was mutableq>>
d={[1,2,3]:"Shyam"}#list is used a key
d

TypeError: unhashable type: 'list'

In [106]:
d={(1,2,3):"abc"}#tuple is used as a key
d

{(1, 2, 3): 'abc'}

In [107]:
d={{1,2,3}:"Shalini"}#set is used as a key
d

TypeError: unhashable type: 'set'

In [108]:
d={{"key":123}:"ajay"}#dictionary is used as a key
d

TypeError: unhashable type: 'dict'

Hence,only strings and numbers can be used as a key of dictionary.